<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style
			include ../styles/base.css
		title Register
	body
		header
			div
				h1.text-center(style="font-family: 'Lobster', cursive;") Register

		article
			div.text-center
				img.logo.rounded-circle.z-depth-5(src="https://pm1.narvii.com/6274/898bd447a36ba642a2b50ac98baad1f8990ed41f_00.jpg")
			div.row.justify-content-center.align-items-center.text-center
				div
					div
						label.small(for="name") Name
						input.form-control(id="name" type="text" name="name" placeholder="Name" onkeyup="valName()"  autocomplete="given-name")
					div
						label.small(for="surname") Surname
						input.form-control(id="surname" type="text" name="surname" placeholder="Surname" onkeyup="valSurname()" autocomplete="family-name")
					div
						label.small(for="email") Email
						input.form-control(id="email" type="text" name="email" placeholder="email@gmail.com" onkeyup="valEmail()" autocomplete="email")
					div
						label.small(for="password") Password
						input.form-control(id="password" type="password" name="password" placeholder="Secrets" onkeyup="valPassword()" autocomplete="password")
					div
						label.small(for="cpassword") Confirm Password
						input.form-control(id="cpassword" type="password" name="cpassword" placeholder="Secrets 2.0" onkeyup="valcPassword()")
						a.small(href="/login") Login

					button.btn.btn-primary(onclick="compForm()") submit 


		footer

		script(
			src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"
		)
		script(
			src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"
		)
		script(
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		)
		script(
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		)
		script
			include ../scripts/register.js
