container-fluid.foot
	footer.bg-dark.text-light.footer.gradient
		.container-fluid.text-center
			.footer-copyright.text-center.cl-white Find us More on:
				.footer-margin 
					i.fa.fa-facebook-official.w3-hover-opacity.cl-white
					i.fa.fa-instagram.w3-hover-opacity.cl-white
					i.fa.fa-snapchat.w3-hover-opacity.cl-white
					i.fa.fa-pinterest-p.w3-hover-opacity.cl-white
					i.fa.fa-twitter.w3-hover-opacity.cl-white
					i.fa.fa-linkedin.w3-hover-opacity.cl-white

	script(
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
		integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
		crossorigin="anonymous"
	)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" integrity="sha256-pS96pU17yq+gVu4KBQJi38VpSuKN7otMrDQprzf/DWY=" crossorigin="anonymous")
	script(
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs="
		crossorigin="anonymous"
	)
	script(type='text/javascript', src="https://code.jquery.com/jquery-3.5.1.js")
	script
		include ../../scripts/profile.js
